*{
    margin: 0;
}
.box{
    height: 50vh;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
    padding: 0 50px;
}
header{
    background-color: deepskyblue;
}
main{
    background-color: greenyellow;
}